Project 1/report.aux
Project 1/report.fdb_latexmk
Project 1/report.fls
Project 1/report.log
Project 1/report.synctex.gz
Project 1/report.pdf
.idea/misc.xml
.idea/modules.xml
.idea/STAT-542-Projects.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
Project 2/.vscode/settings.json
